.sidenav{
    position: absolute;
    top:100%;
    left:0;
    height:100%;
    width:100%;
    background: #fff;
    z-index:1000;
}
.sidenav__header{
    display: flex;
}

.sidenav__header div{
    flex:1;
    padding: 1.1rem;
}

.sidenav__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.3rem 0.3rem 0 0.3rem;
}

.sidenav__list li{
    padding:0.7rem;
    border-bottom: 1px solid #d1d1d1;
}

.sidenav__list li a{
    color:#000;
    text-decoration: none;
}

.sidenav__header a, .sidenav__footer a{
    font-weight: bold;
}

.sidenav__footer{
    padding-left: 0.9rem;
}

@media only screen and (min-width:769px){
  .sidenav{
    display:none;
  }
}